<section id="about" style="padding-bottom:1cm;"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wer wir sind</h2>
                <hr class="primary">
                <p style="text-align:left;">Wir sind unser eigener Supermarkt. Nur noch besser! Als Einkaufsgemeinschaft (oder Foodcoop) kaufen wir ökologisch und fair produzierte 
			Produkte so direkt wie möglich von Produzent*innen zu Handelspreisen ein. Wir geben die Produkte zum Selbstkostenpreis weiter und betreiben keinen Handel.</p> 
		
		    <p style="text-align:left;">Deshalb profitieren alle Beteiligten:
		   	<ul>
  				<li style="text-align:left;">Die Konsument*innen durch tiefere Preise (im Schnitt 30.7% tiefer als dieselben Produkte im Handel)</li>
  				<li style="text-align:left;">Die Produzent*innen durch gerechte Verkaufspreise und faire Arbeitsbedingungen</li>
  				<li style="text-align:left;padding-bottom:0.5cm;">Die Umwelt durch nachhaltige Landwirtschaft und direkte Transportwege</li>
			</ul>
		    </p> 	
		    
           		<div class="col-md-6 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> 
				<!--<i class="fa fa-truck medium-icon"></i> -->
				<span id="anim-number-pizza" class="counter-number"></span> 
				<span class="timer counter alt-font appear" data-to="980" data-speed="5000">34</span>
                		<p class="counter-title">Produzent*innen</p>
            		</div> <!-- end counter -->
		
            		<!-- counter -->
            		<div class="col-md-6 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;"> 
				<!--<i class="fa fa-beer medium-icon"></i> -->
				<span class="timer counter alt-font appear" data-to="980" data-speed="5000">307</span> 
				<span class="counter-title">Produkte</span> 
		    	</div> <!-- end counter -->
            </div>
        </div>
    </div>
</section>		
		
<section id="calender" style="padding-top:1cm;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Termine</h2>
				<hr class="primary">
				<p>Unsere nächsten Verteiltage finden an folgenden Freitagen des Jahres 2021 statt:</p>
			</div>
		</div>
	</div>
			
	<div class="container" style="padding-top:0cm;">
        <div class="row">
            <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
			<div title="Add to Calendar" class="addeventatc">
    				5. März
    				<span class="start">03/05/2021 17:00 PM</span>
    				<span class="end">03/05/2021 20:00 PM</span>
    				<span class="timezone">Europe/Zurich</span>
    				<span class="title">Verteiltag Foodcoop Zur Gertrud</span>
    				<span class="description">More to come.</span>
    				<span class="location">Ecke Zurlinden-/Gertrudstrasse</span>
			</div>
                </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">4. Juni</h3>
                    	<p style="text-align:left;">...</p>
                </div>
        </div>
        <div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">3. September</h3>
                    	<p style="text-align:left;">...</p>
                </div>
        </div>
	<div class="col-lg-3 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">3. Dezember</h3>
                    	<p style="text-align:left;">...</p>
                </div>
        </div>
	    				   
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	
	<div id="mc_embed_signup">
		<form action="https://foodcoop-zurgertrud.us10.list-manage.com/subscribe/post?u=ae0d359bacf47b0844fbe0c8b&amp;id=923daab29a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
				<div class="clear">
					<input class="btn btn-primary btn-xl page-scroll" type="submit" value="Mach mit!" name="subscribe" id="mc-embedded-subscribe">
				</div>	
			</div>
		</form>
	</div>
</section>
