<section id="about"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wer wir sind</h2>
                <hr class="primary">
                <p style="text-align:left;">Wir sind unser eigener Supermarkt. Nur besser! Als Einkaufsgemeinschaft (oder Foodcoop) kaufen wir ökologisch und fair produzierte 
			Produkte so direkt wie möglich von Produzenten zu Handelspreisen ein. Wir geben die Produkte zum Selbstkostenpreis weiter und betreiben kein Handel.</p> 
		
		    <p style="text-align:left;">Deshalb profitieren alle Beteiligten:
		   	<ul>
  				<li style="text-align:left;">Die Konsumenten durch tiefere Preise (im Schnitt 30.7% tiefer als dieselben Produkte im Handel)</li>
  				<li style="text-align:left;">Die Produzenten durch höhere Verkaufspreise und faire Arbeitsbedingungen</li>
  				<li style="text-align:left;">Die Umwelt durch nachhaltige Landwirtschaft und direkte Transportwege</li>
			</ul>
		    </p> 	
		     
                <!--<img src="https://media.giphy.com/media/xULW8GkYBHOiZbJNBu/giphy.gif" alt="this slowpoke moves"  width="60%"/> -->
		    
           		<div class="col-md-6 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;"> 
				<!--<i class="fa fa-truck medium-icon"></i> -->
				<span id="anim-number-pizza" class="counter-number"></span> 
				<span class="timer counter alt-font appear" data-to="980" data-speed="5000">27</span>
                		<p class="counter-title">Produzenten/Lieferanten</p>
            		</div> <!-- end counter -->
		
            		<!-- counter -->
            		<div class="col-md-6 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;"> 
				<!--<i class="fa fa-beer medium-icon"></i> -->
				<span class="timer counter alt-font appear" data-to="980" data-speed="5000">272</span> 
				<span class="counter-title">Produkte</span> 
		    	</div> <!-- end counter -->
							   
			<p style="text-align:left;padding-top:2cm;">Die nächste Bestellrunde öffnet am <b>12. August 2020</b> und schliesst am <b>21. August 2020</b>. Der Verteiltag findet am 11. September statt.</p> 
		    				   
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
			<div id="mc_embed_signup">
				<form action="https://foodcoop-zurgertrud.us10.list-manage.com/subscribe/post?u=ae0d359bacf47b0844fbe0c8b&amp;id=923daab29a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    					<div id="mc_embed_signup_scroll">
    						<div class="clear">
							<input class="btn btn-primary btn-xl page-scroll" type="submit" value="Mach mit!" name="subscribe" id="mc-embedded-subscribe">
						</div>	
   					</div>
				</form>
			</div>
		    
            </div>
        </div>
    </div>
</section>
