<header>
    <div class="header-content">
        
        <div class="onoffswitch3">
            <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
            <label class="onoffswitch3-label" for="myonoffswitch3">
            <span class="onoffswitch3-inner">
            <span class="onoffswitch3-active" style="padding-bottom: 100px;">
                <marquee class="scroll-text" style="color:#FFF; padding-bottom: 50px;">
                    &#128073; Nächstes Bestellfenster: 6. - 16. Februar 2021 &#128072; &nbsp; &nbsp; &nbsp; &nbsp; &#128666; Nächster Verteiltag: 5. März 2021 
                </marquee>
            </span>
            </span>
                <!-- <span class="onoffswitch3-switch">BREAKING NEWS <span class="glyphicon glyphicon-remove"></span></span>
                     </span>
                     <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
                     </span> -->
            </label>
        </div>
        
        <div class="header-content-inner">
            <h1>FoodCoop Zur Gertrud</h1>
            <hr>
            
            <p style="font-size: 20px;">Die persönliche Einkaufsgemeinschaft im Sihlfeld für ökologisch und fair produzierte Lebensmittel.</p>
            
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Erfahre mehr</a>
        </div>
    </div>
       
</header>
