<section id="we" style="padding-bottom:1cm;> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über uns</h2>
                <hr class="primary">
                <p align=left>Der Verein «Foodcoop Zur Gertrud» versteht sich als Zusammenschluss von Personen im Zürcher Sihlfeld zum gemeinsamen Bezug von Lebensmitteln. Wir umgehen den Zwischenhandel und bieten Lebensmittel zum Selbstkostenpreis an.
                    </p>
                <p align=left>Der Verein beabsichtigt, ökologischen Lebensmittelanbau zu fördern,
                    faire Arbeitsbedingungen und gerechten Handel zu unterstützen sowie Produkte aus regionaler Landwirtschaft mit kurzen und direkten Transportwegen zu favorisieren.
                    Der Verein verfolgt zudem das Ziel, mit seiner Präsenz im Quartier das nachbarschaftliche Zusammenleben zu bereichern.
                </p>
                <p align=left>Das Depot der Einkaufsgemeinschaft befindet sich an der Kreuzung ZURlindenstrasse x GERTRUDstrasse, woraus sich der Vereinsname ableitet. Wir engagieren uns ehrenamtlich.
                    </p>
		<p align=left>Weiterführende Informationen: <a style="color:#F05F40;" href="statuten.html">Unsere Statuten</a></p>
		    
            </div>
        </div>
    </div>
</section>

<section id="meaning" style="padding-top:1cm;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Was uns die Foodcoop bedeutet...</h2>
                <hr class="primary">
		<p>...und was wir am liebsten bestellen.</p>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:0cm;">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    	<h3 style="text-align:left;">Beni</h3>
                    	<p style="text-align:left;">...eine nachhaltige Alternative zu den Grossverteiler*innen, welche engagierte Nachbar*innen an einen Tisch bringt.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Benis Lieblingsprodukt: <b>Mandeln aus Katalonien!</b></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">Nuria</h3>
                    	<p style="text-align:left;">...mehr Selbstbestimmung beim Einkaufen, Freude an fairen Produkten und Bekanntschaften im Quartier.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Nurias Lieblingsprodukt: <b>Sheabutter von Tamneere!</b></p>
			<p style="text-align:left;">&nbsp;</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">Giulia</h3>
                    	<p style="text-align:left;">...neue Lebensmittel kennen zu lernen und möglichst direkt bei Produzent*innen einzukaufen.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Giulias Lieblingsprodukt: <b>Engel-Tofu!</b></p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">&nbsp;</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">David</h3>
                    	<p style="text-align:left;">...in der grossen Stadt ein kleines Dorf zu schaffen, welches (wer weiss) in 10 Jahren vielleicht einen Begegnungsort mit eigenem Ladenlokal verkörpert.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Davids Lieblingsprodukt: <b>Passata von Funky Tomato!</b></p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">	
			<h3 style="text-align:left;">Lucca</h3>
                    	<p style="text-align:left;">...mehr Selbstbestimmung, Nachbarschaftlichkeit, Nachhaltigkeit und Gerechtigkeit bei der Nahrungsmittelbeschaffung.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Luccas Lieblingsprodukt: <b>Naturwein der Cascina le Roche im Piemont!</b></p>
                </div>
            </div>	
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3 style="text-align:left;">Lobo</h3>
                    	<p style="text-align:left;">...zusammen mit Nachbar*innen, welche auch mal meine Katzen füttern wenn ich weg bin, ein Modell mit mehr Nähe zu den Lebensmitteln zu schaffen, welche wir täglich essen.</p>
			<p style="text-align:left;">&nbsp;</p>
			<p style="text-align:left;">Lobos Lieblingsprodukt: <b>Kaltgeräucherte Forelle!</b></p>
                </div>
            </div>	
        </div>
    </div>
</section>
	
