<section id="we"> <!--class="bg-primary"-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über uns</h2>
                <hr class="primary">
                <p align=left>Der Verein «Foodcoop Zur Gertrud» versteht sich als Zusammenschluss von Personen im Zürcher Sihlfeld zum gemeinsamen Bezug von Lebensmitteln. Wir umgehen den Zwischenhandel und bieten Lebensmittel zum Selbstkostenpreis an.
                    </p>
                <p align=left>Der Verein beabsichtigt ökologischen Lebensmittelanbau zu fördern,
                    faire Arbeitsbedingungen und gerechten Handel zu unterstützen sowie Produkte aus regionaler Landwirtschaft mit kurzen und direkten Transportwegen zu favorisieren.
                    Der Verein verfolgt zudem das Ziel, mit seiner Präsenz im Quartier das nachbarschaftliche Zusammenleben zu bereichern.
                </p>
                <p align=left>Das Depot der Einkaufsgemeinschaft befindet sich an der Kreuzung ZURlindenstrasse x GERTRUDstrasse, woraus sich der Vereinsname ableitet. Wir engagieren uns ehrenamtlich.
                    </p>
		<p align=left>Weiterführende Informationen: <a style="color:#F05F40;" href="statuten.html">Unsere Statuten</a></p>
		    
            </div>
        </div>
    </div>
</section>

<section id="meaning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Was uns die Foodcoop bedeutet...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    	<h3>Beni</h3>
                    	<p class="text-muted">...eine nachhaltige Alternative zu den Grossverteilerinnen, welche engagierte Nachbarinnen und Nachbarn an einen Tisch bringt.</p>
			<p class="text-muted">Beni's Lieblingsprodukt: Mandeln aus Katalonien!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3>Nuria</h3>
                    	<p class="text-muted">...mehr Selbstbestimmung beim Einkaufen, Freude an fairen Produkten und Bekanntschaften im Quartier.</p>
			<p class="text-muted">Nuria's Lieblingsprodukt: Sheabutter von Tamneere!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3>Giulia</h3>
                    	<p class="text-muted">...neue Lebensmittel kennen zu lernen und möglichst direkt bei Produzierenden einzukaufen.</p>
			<p class="text-muted">Giulia's Lieblingsprodukt: Engel-Tofu!</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3>David</h3>
                    	<p class="text-muted">...in der grossen Stadt ein kleines Dorf zu schaffen, welches (wer weiss) in 10 Jahren vielleicht einen Begegnungsort mit eigenem Ladenlokal verkörpert.</p>
			<p class="text-muted">David's Lieblingsprodukt: Passata von Funky Tomato!</p>
                </div>
            </div>
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3>Lucca</h3>
                    	<p class="text-muted">...mehr Selbstbestimmung, Nachbarschaftlichkeit, Nachhaltigkeit und Gerechtigkeit bei der Nahrungsmittelbeschaffung.</p>
			<p class="text-muted">Lucca's Lieblingsprodukt: Naturwein der Cascina le Roche im Piemont!</p>
                </div>
            </div>	
	    <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
			<h3>Lobo</h3>
                    	<p class="text-muted">...zusammen mit Nachbarn/-innen - welche auch mal meine Katzen füttern wenn ich weg bin - ein Modell mit mehr Nähe zu den Lebensmitteln zu schaffen, welche wir täglich essen.</p>
			<p class="text-muted">Lobo's Lieblingsprodukt: Kaltgeräucherte Forelle!</p>
                </div>
            </div>	
        </div>
    </div>
</section>
	
<!-- Section: Team v.1 -->
<section class="team-section text-center my-5" style="padding-top:0cm;">

  <!-- Section heading -->
  <h3 class="section-heading col-lg-8 col-lg-offset-2 text-center">Was uns die Foodcoop zur Gertrud bedeutet...</h3>
  <!-- Section description -->
  <!--<p class="grey-text w-responsive mx-auto mb-5"></p> -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 text-center">
      <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box">
	    <h4 style="text-align:left;margin-top:1cm;"><b>Beni</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
     		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...eine nachhaltige Alternative zu den Grossverteilerinnen, welche engagierte Nachbarinnen und Nachbarn an einen Tisch bringt.</p>			
      		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;">Beni's Lieblingsprodukt: <b>Mandeln aus Katalonien!</b></p>
		<p style="text-align:left;">&nbsp;</p>
	</div>	
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 text-center">
      <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box">    
      		<h4 style="text-align:left;margin-top:1cm;"><b>Nuria</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
      		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...mehr Selbstbestimmung beim Einkaufen, Freude an fairen Produkten und Bekanntschaften im Quartier.</p>
		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">Nuria's Lieblingsprodukt: <b>Sheabutter von Tamneere!</b></p>
		<p style="text-align:left;">&nbsp;</p>
	</div>	
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 text-center">
      <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box"> 
      		<h4 style="text-align:left;margin-top:1cm;"><b>Giulia</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
      		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...neue Lebensmittel kennen zu lernen und möglichst direkt bei Produzierenden einzukaufen.</p>
		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">Giulia's Lieblingsprodukt: <b>Engel-Tofu!</b></p>
		<p style="text-align:left;">&nbsp;</p>
		<p style="text-align:left;">&nbsp;</p>
		<p style="text-align:left;">&nbsp;</p>
	</div>	    
    </div>
    <!-- Grid column -->
	  
    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 text-center">
       <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box"> 
      		<h4 style="text-align:left;margin-top:1cm;"><b>David</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
      		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...in der grossen Stadt ein kleines Dorf zu schaffen, welches (wer weiss) in 10 Jahren vielleicht einen Begegnungsort mit eigenem Ladenlokal verkörpert.</p>
		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">David's Lieblingsprodukt: <b>Passata von Funky Tomato!</b></p>
	</div>	
    </div>
    <!-- Grid column -->	  
	  
    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 text-center">
      <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box"> 
      		<h4 style="text-align:left;margin-top:1cm;"><b>Lucca</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
      		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...mehr Selbstbestimmung, Nachbarschaftlichkeit, Nachhaltigkeit und Gerechtigkeit bei der Nahrungsmittelbeschaffung.</p>
		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">Lucca's Lieblingsprodukt: <b>Naturwein der Cascina le Roche im Piemont!</b></p>
		<p style="text-align:left;">&nbsp;</p>
	</div>	
      <!--<ul class="list-unstyled mb-0">
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>-->
    </div>
    <!-- Grid column -->
	  
   <!-- Grid column class="col-lg-6 col-md-6 mb-md-0 mb-5" class="col-lg-4 col-md-12 text-center"-->
    <div class="col-lg-6 col-md-6 text-center">
      <!--<div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>-->
	<div class="service-box"> 
     		<h4 style="text-align:left;margin-top:1cm;"><b>Lobo</b></h4>
      		<p class="text-uppercase blue-text"><strong></strong></p>
      		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">...zusammen mit Nachbarn/-innen - welche auch mal meine Katzen füttern wenn ich weg bin - ein Modell mit mehr Nähe zu den Lebensmitteln zu schaffen, welche wir täglich essen.</p>
		<p style="text-align:left;">&nbsp;</p>
		<p class="grey-text" style="text-align:left;padding-left:0cm;padding-right:0cm;">Lobo's Lieblingsprodukt: <b>Kaltgeräucherte Forelle!</b></p>
	</div>	
    </div>
    <!-- Grid column -->
	  
  </div>
  <!-- Grid row -->

</section>	
<!-- Section: Team v.1 -->	
	
		    
   
	<!--
   <div class="container"> 
       <div class="row">
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/PinClipart.com_pregnant-woman-silhouette-clip_3654994.png" alt="">
                        <div class="overlay">
                            <h2>Nuria</h2>
				            <p>Administration</p> 
                        </div>
                </div>
           </div>
           
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png" alt="">
                        <div class="overlay">
                            <h2>Lobo</h2>
				            <p>Sortiment</p> 
                        </div>
                </div>
           </div>
           
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/PinClipart.com_pregnant-woman-silhouette-clip_3654994.png" alt="">
                        <div class="overlay">
                            <h2>Giulia</h2>
				            <p>Kommunikation</p> 
                        </div>
                </div>
           </div>
           
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png" alt="">
                        <div class="overlay">
                            <h2>Beni</h2>
				            <p>Mitglieder</p> 
                        </div>
                </div>
           </div>
           
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png" alt="">
                        <div class="overlay">
                            <h2>Lucca</h2>
				            <p>Kommunikation</p> 
                        </div>
                </div>
           </div>
           
           <div class="col-md-2">
               <div class="hovereffect">
                    <img class="img-responsive" src="img/kisspng-silhouette-man-shadow-homo-sapiens-clip-art-figura-humana-5b47cef5cdeac4.5627853315314326938435.png" alt="">
                        <div class="overlay">
                            <h2>David</h2>
				            <p>Kasse</p> 
                        </div>
                </div>
           </div> 
	
	
        </div>
    </div> -->


